.black-bg {
  background: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-color: rgb(200,200,200);
}

body {
  margin: 0;
}

.header {
  font-size: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: right;
  gap: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.box {
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #000;
  border-color: rgb(200, 200, 200);
  color: rgb(200, 200, 200);
  padding: 5px;
  border-radius: 5px;
  font-family: monospace;
}

.box:hover {
  border-style: solid;
  border-width: 3px;
  background: #222;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.link {
  background: none;
  border: none;
  text-align: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
}

.link:link {
  text-decoration: none;
}

.link:hover {
  color: #fff
}

.divider {

  width: 100%;
  height: 0px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-width: 1px;

}

.body {
  background: rgba(0, 0, 0, 255);
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.item {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  border-width: 3px;
  border-style: solid;
  background: #000;
  border-color: rgb(200, 200, 200);
  color: rgb(200, 200, 200);
  padding: 0px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 50px;
  min-height: 100px;
  width: 100px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  min-width: 200px;
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
}



@media screen and (max-width: 992px) {
  .multilist {
    color: rgba(200, 200, 200);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .multilist {
    color: rgba(200, 200, 200);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px
  }

  .list {
    padding-left: 20px;
  }
}
